.toolbar {
  &__details {
    display: flex;
    align-items: flex-end;
    img {
      width: 5rem;
    }
    h1 {
      margin-left: 1.2rem;
      font-size: 2.8rem;
    }
  }
}
mat-toolbar-row {
  justify-content: center;
}
