<mat-accordion *ngIf="parsedWeatherDetails">
  <mat-expansion-panel hideToggle class="weather-card" [id]="i"
                       *ngFor="let parsedWeatherDetail of parsedWeatherDetails; let i = index;"
                       (opened)="setStep(i)">
    <mat-expansion-panel-header class="weather-card__header">
      <mat-panel-title class="title">
        <h2>{{parsedWeatherDetail.name}},{{parsedWeatherDetail.sys.country}}</h2>
        <div class="temperature-details">
          <p> As of {{parsedWeatherDetail.dt*1000 | date:'HH:mm a'}}</p>
          <p
            class="temperature-details__actual-temperature">{{parsedWeatherDetail.main.temp | number: '1.0-0' | temperature: 'Celsius'}}</p>
          <h2>{{parsedWeatherDetail.weather[0].main}}</h2>
          <span class="wind-info"><i class="fas fa-1x fa-wind"></i> <span
            class="wind-info__speed">{{parsedWeatherDetail.wind.speed}} m/s</span></span>
        </div>
      </mat-panel-title>
      <mat-panel-description class="description">
        <div class="additional-info">
          <p>Feels Like : <span>{{parsedWeatherDetail.main.feels_like | temperature: 'celsius'}}</span></p>
          <p>Pressure: <span>{{parsedWeatherDetail.main.pressure}} hpa</span></p>
          <p>Clouds: <span>{{parsedWeatherDetail.clouds.all}} %</span></p>
        </div>
        <div class="avg-temperature">
          <app-weather-icon [iconName]="parsedWeatherDetail.weather[0].icon" [iconSize]="4"></app-weather-icon>
          <p>{{parsedWeatherDetail.main.temp_max | number: '1.0-0' | temperature: 'Celsius'}}
            / {{parsedWeatherDetail.main.temp_min | number: '1.0-0'| temperature: 'Celsius'}}</p>
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div class="hourly-details-container">
        <app-weatherinfo-details [coord]="parsedWeatherDetail.coord"></app-weatherinfo-details>
      </div>
    </ng-template>
    <mat-action-row>
      <button mat-raised-button color="accent" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
