<mat-accordion *ngIf="parsedWeatherDetails">
  <mat-expansion-panel
    hideToggle
    class="weather-card"
    [id]="index"
    [expanded]="step === index"
    *ngFor="let parsedWeatherDetail of parsedWeatherDetails; let index = index"
    (opened)="setStep(index)"
  >
    <mat-expansion-panel-header class="weather-card__header">
      <mat-panel-title class="title">
        <app-expansion-title [parsedWeatherDetail]="parsedWeatherDetail"></app-expansion-title>
      </mat-panel-title>
      <mat-panel-description class="description">
        <app-expansion-description [parsedWeatherDetail]="parsedWeatherDetail"></app-expansion-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div class="hourly-details-container">
        <app-weatherinfo-hourly-details
          [coord]="parsedWeatherDetail.coord"
        ></app-weatherinfo-hourly-details>
      </div>
    </ng-template>
    <mat-action-row>
      <button mat-raised-button color="accent" class="action-next" (click)="nextStep()">
        Next
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
