.weather-card {
  width: 50%;
  margin: 1rem auto;
  background-color: rgba(66, 66, 66, 0.74);
  font-size: inherit;
  @media screen and (max-width: 60rem) {
    width: 100%;
  }

  &__header {
    height: 20rem;
    font-size: inherit;

    .title {
      flex-direction: column;
      justify-content: center;
      color: #EEE;
      flex-basis: 15rem;

      .temperature-details {
        &__actual-temperature {
          font-size: 5rem;
          flex-grow: 1;
          margin: 1.5rem 0;

        }

        .wind-info {
          display: flex;
          align-items: center;

          &__speed {
            margin: 0 1rem;
          }
        }
      }
    }

    .description {
      justify-content: space-between;
      color: #EEE;
      align-items: center;
      font-size: 1.8rem;

      .avg-temperature {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.6rem;

        p {
          padding: 1rem 0;
        }
      }
    }
  }
  .mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover{
    background: none !important;
  }
  .hourly-details-container{
    max-height: 25rem;
    overflow-y: scroll;
  }
}
