.weather-card {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  max-width: 40%;
  color: white;
  font-size: 1.4rem;
  background: linear-gradient(to right, #e66465, #9198e5);

  &__temperature-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .temperature {
      font-size: 5rem;
      flex-grow: 1;
      margin: 1.5rem 0;
    }
    .wind-info{
      display: flex;
      align-items: center;
      justify-content: center;
      &__speed{
        margin: 0 1rem;
      }
    }
  }

  &__max-min-temperature {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
