.temperature-details {
  &__actual-temperature {
    font-size: 5rem;
    flex-grow: 1;
    margin: 1.5rem 0;
  }

  .wind-info {
    display: flex;
    align-items: center;

    &__speed {
      margin: 0 1rem;
    }
  }
}
