.weather-hourly {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  background-color: var(--grey-bg);
  color: white;
  &__time,
  &__temperature,
  &__wind-info,
  &__temp-type {
    flex-basis: 25%;
  }
  &__wind-info {
    display: flex;
    align-items: center;
    span {
      margin-left: 1rem;
    }
  }
  &__temp-type {
    text-align: end;
  }
}
