.weather-app-container{
  background-image: linear-gradient(to bottom, rgba(#e56668,0.7), rgba(#9596e0, 0.5)),url('../assets/weather.jpg');
  //background: url('../assets/weather.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
