.weather-app{
  background-image: url('../assets/weather.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  &__details{
    display: flex;
    align-items: center;
    font-size: 2rem;
    img{
      width: 6rem;
    }
  }

  mat-toolbar-row {
    justify-content: center ;
  }
}
